<form #loginFormulaire="ngForm" >
  <label for="email">
    Email
  </label>
  <input
    email required
    type="text"
    ngModel name="email"
    #inputMail="ngModel"
    class="form-control" id="email">
  <div class="alert alert-danger" *ngIf="inputMail.invalid && inputMail.dirty">
    Votre email n'est pas valide
  </div>

  <label for="pwd">
    Password
  </label>
  <input
    required
    minlength="4"
    type="password"
    ngModel name="password"
    #pwdInput="ngModel"
    class="form-control" id="pwd">
  <div class="alert alert-danger" *ngIf="pwdInput.invalid && pwdInput.touched">
    Le password doit avoir au minimum 4 caractères
  </div>
  <button [disabled]="loginFormulaire.invalid" class="btn btn-primary" (click)="login(loginFormulaire.value)">
    Se connecter
  </button>
</form>
